{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Amazon{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  </head>
  <body>

    <header class="navbar">
      <a><img src="{% static 'img/Logo.png' %}" height="50"/></a>
      <div>
        <input type="text">
        <input type="submit" value="search">
      </div>
      <div>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
      </div>
      <div>carrinho</div>
    </header>

    {% block content %}{% endblock %}
  </body>
</html>
