{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Amazon{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <header class="navbar">

      <a href="{%url 'index'%}"><img src="{% static 'img/Logo.png' %}" height="50"/></a>

      <div class="searchBox" style="display:flex">
        <input class="textbox" type="text" placeholder="Search your product here">
        <button class="searchButton"><img src="{% static 'img/lupa.png' %}" height="35"/></button>
      </div>

      <div class="authBoxBase">
      {% if user.is_authenticated %}
        <a class="authBox" href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a class="authBox" href="{% url 'login' %}">Login</a>
        <a class="authBox" href="{% url 'register' %}">Register</a>
      {% endif %}
      </div>

      <div class="cartBox">
        <a href="{% url 'cart' %}">
          <img src="{% static 'img/Carrinho.png' %}" height="35" />
        </a>
      </div>
    </header>

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags}}" {% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <div style="display:flex;flex-direction: column;padding: 50px;">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
